body {
    margin-top: 15%;
    background:rgb(149, 157, 218);
    overflow:hidden;
    text-align:center;
}

#aiCanvas{
    background: rgb(136, 182, 199);
}

#networkCanvas {
    background:  black;
}